/* You can add global styles to this file, and also import other style files */
body{
  background: #ecf0f5;
}

.white-box{
  background:white;
  padding:15px 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  margin-bottom: 10px;
}
